/* Dashboard.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin: 15px 0;
  }
  
  .sidebar ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
  }
  
  .header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .card_link {
    text-decoration: none; /* Remove underline */
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: 200px;
    max-width: 300px;
  }
  
  .card h3 {
    margin-bottom: 10px;
  }
  
  .card p {
    color: #555;
  }

  .car-parts-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .car-parts-table th, .car-parts-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .car-parts-table th {
    background-color: #f4f4f4;
  }
  
  .car-parts-table td {
    background-color: #fff;
  }
  
  .edit-btn, .delete-btn {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #4CAF50;
    color: white;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  
  .edit-btn:hover, .delete-btn:hover {
    opacity: 0.8;
  }
  
  